<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.app.dao.ext.FrontAccountInfoExtMapper">
  <resultMap id="BaseResultMapExt" type="Map">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="id_card_no" jdbcType="VARCHAR" property="id_card_no" />
    <result column="auth_status" jdbcType="INTEGER" property="auth_status" />
    <result column="phone_no" jdbcType="BIGINT" property="phone_no" />
    <result column="account_status" jdbcType="INTEGER" property="account_status" />
    <result column="active_status" jdbcType="INTEGER" property="active_status" />
    <result column="third_cust_id" jdbcType="VARCHAR" property="third_cust_id" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="created_time" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updated_time" />
    <collection property="bankInfos" ofType="com.my.app.entity.FrontBankInfo">
   	    <id column="id" jdbcType="INTEGER" property="id" />
	    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
	    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
	    <result column="phone_no" jdbcType="BIGINT" property="phoneNo" />
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
	    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
	    <result column="request_no" jdbcType="VARCHAR" property="requestNo" />
	    <result column="creator" jdbcType="VARCHAR" property="creator" />
	    <result column="updator" jdbcType="VARCHAR" property="updator" />
	    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
	    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
	    <result column="record_state" jdbcType="INTEGER" property="recordState" />
    </collection>
  </resultMap>
  
  <select id="findAccountAndBankInfo" resultMap="BaseResultMapExt">
  	select * from front_account_info m left join front_bank_info n on m.id_card_no=n.id_card_no
  	where m.id_card_no = #{idCard}
  </select>
</mapper>